.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 150vh;
}

.header{
    height: 120vh;
    background-image: url("img/header/header.png");
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logo{
   width: 88px;
   height: 48px;
   margin-top: 10px;
   margin-left: 30px;
}

.navTextIcon{
    display: flex;
    margin-right: 30px;
    gap: 30px;
}

.navTextIcon a{
    text-decoration: none;
    color: white;
}

.navTextIcon a:hover {
    text-decoration: none;
    color: gold;
}

.navTextIcon img{
    height: 20px;
}

.headerText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 300px;
}

.headerText h1 {
    font-size: 70px;
    color: white;
    margin: 0;
}

.headerText p{
    margin: 0;
    font-size: 30px;
    color: white;
}

.headerText button{
    background-color: gold;
    color: white;
    margin-top: 50px;
    padding: 12px 10px 12px 10px;
    font-size: 20px;
    border-radius: 5px;
}

.slogan{
    background-color: white;
    margin: 40px;
}

.sloganText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: gold;
    font-size: 24px;
    margin: 0;
}

.video{
    width: 100%;
    height: 150vh;
}
